###
# Slurm acct_gather configuration file
###
ProfileInfluxDBHost={{ acct_gather.ingress }}:{{ acct_gather.port }}
ProfileInfluxDBUser={{ acct_gather.user }}
ProfileInfluxDBPass={{ acct_gather.password }}
ProfileInfluxDBDatabase={{ acct_gather.database }}

{% if acct_gather.custom %}
{{ acct_gather.custom }}
{% endif %}
