[Unit]
Description=Slurm controller daemon
After=network.target snap.munge.munged.service
ConditionPathExists=/etc/slurm/slurm.conf

[Service]
User=slurm
Group=slurm
Type=simple
ExecStartPre=mkdir -p /srv/slurm
ExecStartPre=chown -R slurm:slurm /srv/slurm
EnvironmentFile=-/etc/sysconfig/slurmctld
ExecStart=/usr/local/sbin/slurmctld -f /etc/slurm/slurm.conf -L /var/log/slurm/slurmctld.log -cDvvvvv
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/srv/slurm/slurmctld.pid
LimitNOFILE=65536
TasksMax=infinity

[Install]
WantedBy=multi-user.target
