[Unit]
Description=Slurm DBD accounting daemon
After=network.target snap.munge.munged.service
ConditionPathExists=/etc/slurm/slurmdbd.conf

[Service]
User=slurm
Group=slurm
Type=simple
EnvironmentFile=-/etc/sysconfig/slurmdbd
ExecStartPre=mkdir -p /srv/slurm
ExecStartPre=chown -R slurm:slurm /srv/slurm
ExecStart=/usr/local/sbin/slurmdbd -Dvvvvv
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/srv/slurm/slurmdbd.pid
LimitNOFILE=65536
TasksMax=infinity

[Install]
WantedBy=multi-user.target
