name: Lint

on: pull_request

jobs:
    lint-charm:
        name: "Run linter"
        runs-on: "ubuntu-latest"
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-python@v2
              with:
                  python-version: '3.x'
                  architecture: 'x64'
            - name: "Install tox"
              run: |
                  pip install tox

            - name: "lint the project"
              run: |
                  make lint
